@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", serif;
}

::-webkit-scrollbar {
  @apply hidden;
}

.header-li {
  color: #717373;
}

.header-li:hover {
  color: #00a79c;
  cursor: pointer;
  transform: scale(1.1);
}

.home-cont-banner {
  background-color: #00a79c;
  border-radius: 0.4rem;
}

.active hr {
  @apply block;
}

@media (max-width: 740px) {
  .active p {
    @apply text-white bg-primary;
  }
}
